.Header {
  position: sticky;
  width: 100%;
  height: 100px;
  top: 0;
  background: #ffffff;
  z-index: 990;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .hamburger-container {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }

  svg {
    width: 28px;
    margin-right: 5px;

    path {
      fill: #ffffff;
    }
  }

  ul {
    display: flex;
    align-items: baseline;
    list-style: none;

    li {
      position: relative;
      display: flex;
      align-items: center;
      top: -10px;
      margin: 0 25px;
      padding: 10px 0;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      transition: all 0.5s;
      box-sizing: border-box;

      a {
        color: #000000;
        text-decoration: none;
      }

      &:hover {
        border-bottom: 3px solid rgba(69, 39, 160, 0.3);
      }

      &.active {
        border-bottom: 3px solid var(--main-color);
        transition: all 0.5s;
      }

      &.highlight {
        top: 0;
        padding: 10px 20px;
        border-radius: 30px;
        border: 0;
        background: var(--main-color);
        box-sizing: border-box;

        a {
          display: flex;
          align-items: center;
          color: #ffffff;
        }
      }

      .icon {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Header {
    height: 65px;

    .logo {
      width: 150px;
    }

    .hamburger-icon {
      display: block;
    }

    .container ul {
      display: none;
    }

    .hamburger-container {
      position: fixed;
      display: block;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: var(--main-color);
      .container {
        display: flex;
        align-items: center;
        height: 65px;
      }

      svg {
        path {
          fill: var(--main-color);
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
          font-size: 20px;
          line-height: 30px;

          a {
            color: #ffffff;
          }

          &.highlight {
            top: 0;
            padding: 10px 20px;
            border-radius: 30px;
            border: 0;
            background: #ffffff;
            box-sizing: border-box;

            a {
              display: flex;
              align-items: center;
              color: var(--main-color);
            }
          }
        }
      }
    }
  }
}
