@font-face {
  font-family: "NotoSans-Medium";
  src: url(./assets/fonts/NotoSansTC-Medium.ttf) format("trueType");
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url(./assets/fonts/NotoSansTC-Regular.ttf) format("trueType");
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url(./assets/fonts/NotoSansTC-Bold.ttf) format("trueType");
}

@font-face {
  font-family: "NotoSans-Light";
  src: url(./assets/fonts/NotoSansTC-Light.ttf) format("trueType");
}

@font-face {
  font-family: "Special-Font";
  src: url(./assets/fonts/NotoSansTC-Bold.ttf) format("trueType");
}
